<a href="https://colab.research.google.com/github/hruthiksiva/DataScience-Practice/blob/main/cardiovascular_deep.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [57]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn 
import keras
import tensorflow as tf
import seaborn as sns
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

In [58]:
df=pd.read_csv("cardio_train.csv", sep=";")

In [59]:
df.head()

   id    age  gender  height  weight  ...  gluc  smoke  alco  active  cardio
0   0  18393       2     168    62.0  ...     1      0     0       1       0
1   1  20228       1     156    85.0  ...     1      0     0       1       1
2   2  18857       1     165    64.0  ...     1      0     0       0       1
3   3  17623       2     169    82.0  ...     1      0     0       1       1
4   4  17474       1     156    56.0  ...     1      0     0       0       0

[5 rows x 13 columns]

In [60]:
df.head()

   id    age  gender  height  weight  ...  gluc  smoke  alco  active  cardio
0   0  18393       2     168    62.0  ...     1      0     0       1       0
1   1  20228       1     156    85.0  ...     1      0     0       1       1
2   2  18857       1     165    64.0  ...     1      0     0       0       1
3   3  17623       2     169    82.0  ...     1      0     0       1       1
4   4  17474       1     156    56.0  ...     1      0     0       0       0

[5 rows x 13 columns]

In [61]:
df["age"]=round(df["age"]/365)
df['age']= df['age'].astype(int)
df['BMI'] = df['weight']/(np.power(df['height']/100, 2))
df['BMI'] = df['BMI'].astype(int)

In [62]:
df.head()

   id  age  gender  height  weight  ...  smoke  alco  active  cardio  BMI
0   0   50       2     168    62.0  ...      0     0       1       0   21
1   1   55       1     156    85.0  ...      0     0       1       1   34
2   2   52       1     165    64.0  ...      0     0       0       1   23
3   3   48       2     169    82.0  ...      0     0       1       1   28
4   4   48       1     156    56.0  ...      0     0       0       0   23

[5 rows x 14 columns]

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           70000 non-null  int64
 1   age          70000 non-null  int64
 2   gender       70000 non-null  int64
 3   height       70000 non-null  int64
 4   weight       70000 non-null  float64
 5   ap_hi        70000 non-null  int64
 6   ap_lo        70000 non-null  int64
 7   cholesterol  70000 non-null  int64
 8   gluc         70000 non-null  int64
 9   smoke        70000 non-null  int64
 10  alco         70000 non-null  int64
 11  active       70000 non-null  int64
 12  cardio       70000 non-null  int64
 13  BMI          70000 non-null  int64
dtypes: float64(1), int64(13)
memory usage: 7.5 MB

In [64]:
df["weight"]=df["weight"].astype(int)

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           70000 non-null  int64
 1   age          70000 non-null  int64
 2   gender       70000 non-null  int64
 3   height       70000 non-null  int64
 4   weight       70000 non-null  int64
 5   ap_hi        70000 non-null  int64
 6   ap_lo        70000 non-null  int64
 7   cholesterol  70000 non-null  int64
 8   gluc         70000 non-null  int64
 9   smoke        70000 non-null  int64
 10  alco         70000 non-null  int64
 11  active       70000 non-null  int64
 12  cardio       70000 non-null  int64
 13  BMI          70000 non-null  int64
dtypes: int64(14)
memory usage: 7.5 MB

In [66]:
X=df.drop(["height","weight","cardio","id"],axis=1)
y=df["cardio"]

In [67]:
df.head()

   id  age  gender  height  weight  ...  smoke  alco  active  cardio  BMI
0   0   50       2     168      62  ...      0     0       1       0   21
1   1   55       1     156      85  ...      0     0       1       1   34
2   2   52       1     165      64  ...      0     0       0       1   23
3   3   48       2     169      82  ...      0     0       1       1   28
4   4   48       1     156      56  ...      0     0       0       0   23

[5 rows x 14 columns]

In [68]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test= train_test_split(X,y,test_size=0.1,shuffle=True)

In [69]:
from xgboost import XGBClassifier

In [87]:
model=XGBClassifier(learning_rate=0.01,max_depth=10,n_estimators=1000)
model.fit(X_train,y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.01, max_delta_step=0, max_depth=10,
              min_child_weight=1, missing=None, n_estimators=1000, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [88]:
y_pred=model.predict(X_test)

In [89]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_pred,y_test))

0.739

In [91]:
model=Sequential()

In [95]:
model.add(Dense(32,activation="relu",input_shape=[10]))
model.add(Dense(16,activation="relu",input_shape=[10]))
model.add(Dense(7,activation="relu",input_shape=[10]))
model.add(Dense(1  ,activation = 'sigmoid'))

In [96]:
model.compile(optimizer = 'adam' , loss = 'binary_crossentropy' ,metrics = ['accuracy'])

In [97]:
num_epochs = 20
history = model.fit(X_train ,
                    y_train ,
                    epochs= num_epochs ,
                    batch_size = 50,
                    validation_data=(X_train ,y_train))

# evaluate the model
loss, acc = model.evaluate(X_test, y_test, verbose=0)
print('Test Accuracy: {:3.3f} and loss {:3.3f}'.format(acc ,loss))

Epoch 1/20
1260/1260 [==============================] - 4s 3ms/step - loss: 0.6879 - accuracy: 0.5206 - val_loss: 0.6401 - val_accuracy: 0.6115
Epoch 2/20
1260/1260 [==============================] - 3s 3ms/step - loss: 0.6188 - accuracy: 0.6702 - val_loss: 0.5999 - val_accuracy: 0.6820
Epoch 3/20
1260/1260 [==============================] - 3s 3ms/step - loss: 0.5697 - accuracy: 0.7166 - val_loss: 0.6353 - val_accuracy: 0.6263
Epoch 4/20
1260/1260 [==============================] - 3s 3ms/step - loss: 0.5652 - accuracy: 0.7184 - val_loss: 0.5588 - val_accuracy: 0.7241
Epoch 5/20
1260/1260 [==============================] - 4s 3ms/step - loss: 0.5621 - accuracy: 0.7202 - val_loss: 0.5523 - val_accuracy: 0.7280
Epoch 6/20
1260/1260 [==============================] - 4s 3ms/step - loss: 0.5596 - accuracy: 0.7186 - val_loss: 0.5528 - val_accuracy: 0.7292
Epoch 7/20
1260/1260 [==============================] - 4s 3ms/step - loss: 0.5594 - accuracy: 0.7213 - val_loss: 0.5509 - val_accuracy: 0.7287
Epoch 8/20
1260/1260 [==============================] - 4s 3ms/step - loss: 0.5626 - accuracy: 0.7196 - val_loss: 0.5540 - val_accuracy: 0.7285
Epoch 9/20
1260/1260 [==============================] - 4s 3ms/step - loss: 0.5559 - accuracy: 0.7276 - val_loss: 0.5547 - val_accuracy: 0.7277
Epoch 10/20
1260/1260 [==============================] - 4s 3ms/step - loss: 0.5558 - accuracy: 0.7230 - val_loss: 0.5814 - val_accuracy: 0.7049
Epoch 11/20
1260/1260 [==============================] - 3s 3ms/step - loss: 0.5656 - accuracy: 0.7191 - val_loss: 0.5546 - val_accuracy: 0.7276
Epoch 12/20
1260/1260 [==============================] - 3s 3ms/step - loss: 0.5610 - accuracy: 0.7214 - val_loss: 0.5506 - val_accuracy: 0.7309
Epoch 13/20
1260/1260 [==============================] - 3s 3ms/step - loss: 0.5605 - accuracy: 0.7204 - val_loss: 0.5488 - val_accuracy: 0.7305
Epoch 14/20
1260/1260 [==============================] - 4s 3ms/step - loss: 0.5573 - accuracy: 0.7236 - val_loss: 0.5540 - val_accuracy: 0.7268
Epoch 15/20
1260/1260 [==============================] - 4s 3ms/step - loss: 0.5559 - accuracy: 0.7269 - val_loss: 0.5478 - val_accuracy: 0.7304
Epoch 16/20
1260/1260 [==============================] - 4s 3ms/step - loss: 0.5556 - accuracy: 0.7254 - val_loss: 0.5516 - val_accuracy: 0.7293
Epoch 17/20
1260/1260 [==============================] - 4s 3ms/step - loss: 0.5515 - accuracy: 0.7287 - val_loss: 0.5489 - val_accuracy: 0.7303
Epoch 18/20
1260/1260 [==============================] - 4s 3ms/step - loss: 0.5544 - accuracy: 0.7269 - val_loss: 0.5624 - val_accuracy: 0.7208
Epoch 19/20
1260/1260 [==============================] - 4s 3ms/step - loss: 0.5545 - accuracy: 0.7276 - val_loss: 0.5538 - val_accuracy: 0.7262
Epoch 20/20
1260/1260 [==============================] - 3s 3ms/step - loss: 0.5521 - accuracy: 0.7289 - val_loss: 0.5493 - val_accuracy: 0.7308
Test Accuracy: 0.735 and loss 0.547